<div class='bdy'>

</div>

<div class="bdy-in">
  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        PREFACE
      </mat-card-title>
    </mat-card-header>


    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content style="padding: 15px">
      Blooming Buds School, a co-educational
      institution, was established in the year 2011 at
      Padmabil, Gossaigaon with the motto, "The utmost
      for the highest." The school follows CBSE course
      and proceeding towards CBSE Affiliation, New Delhi.
      The affaires of the school are managed and run by the
      Blooming Buds Society chaired by Mr. Vivek Mushahary.
      The Founders of the school are Mr. Jayanta Brahma and
      Mr. Bhabendra Mushahary and its patron is Mr. Hamendra
      Nath Brahma. The Blooming Buds School is expanding from
      the classes Play Group to Secondary. Our goal is to develop
      independent, confident, lifelong learners with a sense of global
      outlook along with the necessary skills to train for the challenges
      and changes which lie ahead.
    </mat-card-content>

    <mat-card-footer style="text-align: center;">

    </mat-card-footer>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        VISION
      </mat-card-title>
      <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content style="padding: 15px">
      Our vision is to conceptualize all round development, confident and
      responsible individuals who aspire to achieve their full potential. We
      will do this by providing a welcoming, happy, safe, and supportive
      learning environment in which everyone is equal and all achievements
      are celebrated
    </mat-card-content>

    <mat-card-footer style="text-align: center;">
    </mat-card-footer>
  </mat-card>

  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        MISSION
      </mat-card-title>
    </mat-card-header>


    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content style="padding: 15px">
      Our mission is to provide exceptional care to children while fostering each
      child's intellectual, social, physical and moral development in an academic-
      rich environment.


    </mat-card-content>

    <mat-card-footer style="text-align: center;">

    </mat-card-footer>
  </mat-card>

  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        SCHOOL ENVIRONMENT
      </mat-card-title>
    </mat-card-header>


    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content style="padding: 15px">
      The atmosphere in our school is warm and nurturing with greeneries and
      complete pollution free, which makes learning effortless and taking on new
      dimension customary. Our school provides the perfect balance of natural
      surroundings with the advantages of the advance modern-day
      technology
    </mat-card-content>

    <mat-card-footer style="text-align: center;">

    </mat-card-footer>
  </mat-card>


  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        President's Message </mat-card-title>
    </mat-card-header>


    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content style="padding: 15px">
      <p>
        As we all know, education has the biggest roleplay in a
        child's upbringing, which starts from a very tender age of a
        child. So Blooming Buds School, Gossaigaon was started with
        a very pure and sole idea of providing a quality education with
        pleasant surroundings to children. "The Utmost For The Highest"
        being the motto of the school, we surely guide the students with
        utmost care to give their very best academically and also along with
        that, we focus on growing a child morally fit to live a better tomorrow
        with the highest level of confidence and commitments to reach their
        goal and grow up to be a better individual.
      </p>
      <p>
        At B.B.S. Gossaigaon a child is exposed to all kinds of academic and
        non-academic surroundings where he/she gets a wide opportunity to
        craft their skills and grow a leadership quality in them. The school team
        always try to find innovative ways to maximize the learning potential of the
        students.
      </p>
      <p>
        In order to do this, we need your support. The challenge for us together is to
        fund our ambitions.
      </p>
      <p>
        So, I ask you to read carefully the opportunities that are contained in these
        pages. Come and see us for yourself. Revisit the school that nurtured you. It
        is my hope that those within our wider community will do whatever they can
        to ensure that the B.B.S. can continue to thrive in the future.
      </p>
    </mat-card-content>

    <mat-card-footer style="text-align: left;padding: 35px">
      <p>
        Sri Vivek Mushahary<br>
        President<br>
        Blooming Buds School<br>
        Gossaigaon, BTAD, Assam-783360<br>
      </p>
    </mat-card-footer>
  </mat-card>

  <!--principal's message-->
  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        From the Principal's Desk
      </mat-card-title>
    </mat-card-header>

    <mat-card-content style="padding: 15px">
      <p>
        Heartiest welcome to BloomingBudsSchool, where education means all round development of the child. This is a
        school that has a mission to make each child achieve his and her best.
      </p>
      <p>
        We at Blooming Buds School strive to respect the unique individuality of each child, give the child the right
        kind of help. We believe that a child will be successful in life if we accept him/her as they are and inspire
        them to become what they want to become. They want to be loved, appreciated, guided and to be respected their
        individuality.
      </p>
      <p>
        We give importance to make discipline a core value, encourage students to develop a sense of responsibility
        through a well-planned CBSE Academic schedule, House system, various Inter School Competitions and Sports
        Activities. We expect them to do the same at home too like making the beds, keeping the rooms tidy, helping and
        supporting the family members in the daily chores etc.
      </p>
      <p>
        The school has a well-planned CBSE curriculum so that co-curricular activities also are given due importance.
        The school Almanac gives all the important information on school like the rules and regulation, uniforms,
        periodic test schedules, Half Yearly and Annual Examinations, holidays, co-curricular activities and feedback
        from teachers. The parents should ensure that their ward is actively involved in all activities.
      </p>
      <p>
        At Blooming Buds School, we follow an open-door policy and urge all parents to take this opportunity to discuss
        any issue with me so that we can move forward together. We have a supportive and involved parent community,
        dedicated and highly skilful staff, excellent resources and buildings and the mostfantastic students toworkwith.
        Thank you for considering us as the school for your child.
      </p>
    </mat-card-content>

    <mat-card-footer style="text-align: left;padding: 35px">
      <p>
        Mr. Martin Basumatary<br>
        Principal Blooming Buds School Gossaigaon,<br>
        BTAD, Assam-783360<br>
      </p>
    </mat-card-footer>
  </mat-card>

  <!--Glimpse of school-->

  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        A Glimpse of Blooming Buds School
      </mat-card-title>
    </mat-card-header>

    <mat-card-content style="padding: 15px">

      <p>
        Our trained teachers' team facilitates young students to comprehend facts, figures and guide them to translate
        classroom knowledge into real life activities and situations.
      </p>
      <p style="color: red;  font-weight: bold;">
        PlayWay:
      </p>
      <p>
        The children enjoy mostly playing. Playing
        time is the best time to learn various lessons. This is most effective as well as enjoyable activity where
        children undertake games, hands-on-approach, Team building, leadership, observation, imitation-recognition,
        concentration and memorization.
      </p>

      <p style="color: red;  font-weight: bold;">
        Interactive:
      </p>
      <p>
        This prototype includes Group Discussion, Group Projects, Theme Work and Field Exposure.
      </p>
      <p style="color: red;  font-weight: bold;">
        Library:
      </p>
      <p>
        The School has a well-equipped library with a reading room facility to back up the teaching learning
        process effectively. It has a good collection of books for every branch of knowledge. Students are constantly
        encouraged to avail the facility.
      </p>
      <p style="color: red;  font-weight: bold;">
        Science laboratory:
      </p>
      <p>
        The school has well equipped composite science laboratory of Biology,Chemistry andP hysics.
        Thelaboratory has been built and well equipped in accordance with the guide lines formulated by CBSE, NEW
        Delhi.
      </p>

      <a style="color:red;">
        Computer laboratory:
      </a>
      <p>
        The school has well equipped Computer laboratory.
        The laboratory has been built and well equipped in accordance with the guide lines formulated by CBSE, New
        Delhi.

      </p>
      <p style="color: red;  font-weight: bold;">
        Teach Next:
      </p>
      <p>
        <br>The school provides Teach Next Smart Class facility for the students. This modern methodology is
        proved highly effective in the presenteducationalfield. Visualization of something is always attractive to the
        students and they can remember it easily and more effectively.
        GamesandSports: The school provides both indoor and outdoor facilities in games and sports.
      </p>
      <p style="color: red;  font-weight: bold;">
        MedicalRoom:
      </p>
      <p>
        Thes chool hasmedical room with adequate emergency requirements.
        It keeps a periodic health check-up record to know about the health status of children.
      </p>
      <p style="color: red;  font-weight: bold;">
        Hostel:
      </p>
      <p>
        There are separate hostel facilities for both boys and girls. The hostels are supervised strictly by
        the Principal and Vice Principal. The hostel warden sarein-charges of the hostels and look after the students'
        study, personal well-being, hygiene and overall maintainance.
      </p>
      <p style="color: red;  font-weight: bold;">
        Yoga and Meditation:
      </p>
      <p>
        The school has a yoga room with adequate facilities for the practice of yoga guided by qualified and experienced
        yoga instructors. Yoga classes are compulsory for all the
        students.
      </p>
      <p style="color: red;  font-weight: bold;">
        Art and Craft:
      </p>
      <p>
        The school promotes art and craft activities among students by providing training in Fine Arts and
        Craft Work under the guidance of qualified and
        experienced teacher.
      </p>
      <p style="color: red;  font-weight: bold;">
        SchoolBussConveyance:
      </p>
      <p>
        The School provides transportation
        facilities to all the students from various parts of Gossaigaon.
      </p>
      <p style="color: red;  font-weight: bold;">
        The Teaching Faculties:
      </p>
      <p>
        The Principal being the head of the institution oversees the teaching faculties.
        The school is blessed with a spectrum of live-in faculty, who endure both the intellectual
        and emotional development of the children.
      </p>

    </mat-card-content>




    <mat-card-footer style="text-align: left;padding: 35px">

    </mat-card-footer>
  </mat-card>


  <!--Admission and other details-->

  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        Admission
      </mat-card-title>
    </mat-card-header>

    <mat-card-content style="padding: 15px">
      <p>
        Admission is open to all irrespective of castes, creed and community. Children are admitted to Play Group from
        the age of Two plus (2+) years
        and to class I from the age of five plus (5+) years.
      </p>
      <p style="color: black;  font-weight: bolder;">
        <b>Method of admission:</b>
      </p>
      <p>
        No aptitude test is conducted for admission in Play Group till Class II. However, an interaction of the parents
        along with the children should be made with the Principal or authorized persons. For admission Classes from III
        and above, an aptitude test may be conducted in English, Mathematics, Hindi, Social Science and Science.
        <br>Admission is subjected
        to the number of vacancy and performance in the test.
        A student may be admitted on transfer subject to the availability of seats andfulfilmentofeligibilitycriteria.
        Whenadmittedinanypartofasessiona student must pay the full admission fees along with monthly fees for the
        academic year. <br>The decision relating admission taken by the school
        administrationwillbeconsideredultimateandfinal. Hencenoappealor
        complain for review will be entertained in this regard.
      </p>

    </mat-card-content>

    <mat-card-footer style="text-align: left;padding: 35px">

    </mat-card-footer>
  </mat-card>

  <!--Transfer from school-->

  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        Transfer from the School
      </mat-card-title>
    </mat-card-header>

    <mat-card-content style="padding: 15px">
      <p>
        In case of withdrawal of a student from the school, an application should be submitted to the Principal, stating
        the reason/s at least a month prior to the date of withdrawal. Transfer certificate will be issued after the
        clearance of all dues.
      </p>


    </mat-card-content>

    <mat-card-footer style="text-align: left;padding: 35px">

    </mat-card-footer>
  </mat-card>

  <!--FEE STRUCTURE-->
  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        Fee Structure
      </mat-card-title>
    </mat-card-header>

    <mat-card-content style="padding: 15px">
      <p>
        The tuition fees cover twelve calendar months. No
        reduction is made for holidays or broken periods.<br>

        Fees will be received at cash counter of the school throughout the months.<br> Students failing to pay fees for
        three consecutive months will have their name stuck off the rolls.
        <br>
        The tuition fees and other dues may be
        revised with prior notification.
      </p>


    </mat-card-content>

    <mat-card-footer style="text-align: left;padding: 35px">

    </mat-card-footer>
  </mat-card>


  <!--General rules-->
  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        General Rules
      </mat-card-title>
    </mat-card-header>

    <mat-card-content style="padding: 15px">
      <p>
        1. ThemediumofinstructionoftheschoolisEnglish. Henceto acquire greater development in studies English only
        should be spoken in the school premises.<br><br>
        2. The school follows the course pattern referred by CBSE, New Delhi.
        <br><br>
        3. The school schedule is sharp from 08:15 am in the morning.<br><br>
        4. Irregular attendance, indiscipline and unruly behaviour, disrespect to teachers and authorities, adoption of
        unfair means during any examination are sufficient reasons for expulsion of a student.<br><br>
        5. Any damage done to the school property should be made good by the student concerned.<br><br>
        6. If a student remains absent on any particular day(s) he / she must come on the following day with an
        endorsement from the guardian in the LEAVE RECORD of the calendar explaining the reasons for absence.<br><br>
        7. During class hours students are strictly forbidden to leave the campus.<br><br>
        8. A student must wear the prescribed uniform of the school compulsorily.<br><br>
        9. Every student must possess the school Almanac and the Identity card which should be brought to the school
        daily.<br><br>
        10. Students are not allowed to bring mobile phone or any electrical gadgets to the school.
      </p>


    </mat-card-content>

    <mat-card-footer style="text-align: left;padding: 35px">

    </mat-card-footer>
  </mat-card>
  <!--School Fee Structure Pre Month (2020-2021)-->
  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        School Fee Structure Pre Month (2020-2021)
      </mat-card-title>
    </mat-card-header>


    <!-- <img style="padding: 15px" matCardImage src="../assets/fees.png"> -->
    <mat-card-content style="padding: 15px">
      <table>
        <tr>
          <th width="1%">Sl/No</th>

          <th width="3%">Particulars (New + Re-Admission)</th>
          <th width="3%">Admission Fee</th>
          <th width="3%">Maintenance Fee for old students</th>
          <th width="3%">Registration for the new Students</th>

          <th width="3%">Monthly Tuition Fee</th>

          <th width="3%">Monthly Digital Class Fee</th>

          <th width="3%">Monthly Transportation Fee (For 10 KM)</th>
          <th width="3%">Monthly Transportation Fee (For 5 KM)</th>

        </tr>
        <tr>
          <td>01</td>
          <td>Play Group </td>
          <td>3200 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>800 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>


        </tr>
        <tr>
          <td>02 </td>
          <td>Nursery </td>
          <td>4000 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>800 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>


        </tr>
        <tr>
          <td>03 </td>
          <td>K.G. </td>
          <td>4500 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>800 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>

        </tr>
        <tr>
          <td>04</td>
          <td>Class-I </td>
          <td>6350 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>850 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>

        </tr>
        <tr>
          <td>05 </td>
          <td>Class-II </td>
          <td>6350 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>850 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>


        </tr>
        <tr>
          <td>06 </td>
          <td>Class-III</td>
          <td>6350 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>850 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>

        </tr>
        <tr>
          <td>07</td>
          <td>Class -IV</td>
          <td>6350 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>850 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>


        </tr>
        <tr>
          <td>08 </td>
          <td>Class-V </td>
          <td>6350 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>850 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>

        </tr>
        <tr>
          <td>09 </td>
          <td>Class -VI</td>
          <td>6350 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>900 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>

        </tr>
        <tr>
          <td>10 </td>
          <td>Class-VII</td>
          <td>6350 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>900 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>

        </tr>
        <tr>
          <td>11 </td>
          <td>Class-VIII</td>
          <td>6350 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>900 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>

        </tr>
        <tr>
          <td>12 </td>
          <td>Class-IX </td>
          <td>6350 </td>
          <td>500 </td>
          <td>1000 </td>
          <td>900 </td>
          <td>200 </td>
          <td>1300 </td>
          <td>1700 </td>

        </tr>

      </table>
    </mat-card-content>

    <mat-card-footer style="text-align: center;">

    </mat-card-footer>
  </mat-card>
  <!--School Fee Structure Pre Month (2020-2021)-->

  <mat-card>
    <mat-card-header style="align-content: center;">

      <mat-card-title>
        Hostel Fee Structure Pre Month (2020-2021)
      </mat-card-title>
    </mat-card-header>


    <!-- <img style="padding: 15px" matCardImage src="../assets/fees.png"> -->
    <mat-card-content style="padding: 15px">
      <table>
        <tr>
          <th width="1%">Sl/No</th>

          <th width="3%">Class (New + Re-Admission)</th>
          <th width="3%">Caution Fee</th>
          <th width="3%">Monthly Hostel Fee</th>


        </tr>
        <tr>
          <td>01</td>
          <td>Classes III-VIII</td>
          <td>6000 </td>
          <td>6000 </td>
        </tr>


      </table>
    </mat-card-content>

    <mat-card-footer style="text-align: center;">
      N.B.: The fee structure is only for the Academic Session 2020-2021. In the next Academic Session it may be
      increased by a reasonable amount.
      <br><br>
    </mat-card-footer>
  </mat-card>

</div>
<router-outlet></router-outlet>
